<% include header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center"> Recover Your Password </h1>
            <p class="lead" style="text-align: center; color: darkred;"> <%=locals.message%></p>
        </div>
    </div>
    <% if (!locals.hide) { %> 
    <div class="card" style="width: 60%; margin: 0 auto; margin-top: 20px; ">
        <div class="card-header"> Enter username </div>
        <div class="card-block">
            <form method="POST" action="<%= action %>" autocomplete="off" id="forgotForm">
              <div class="form-group"><label class="form-control-label" for="username">Username:</label>
                  <input class="form-control" id="username" required style="text-transform: capitalize"
                   type="text" name="username"
                      autocomplete="off" value="<%= locals.user %>" <%=locals.disabled%>></div>
              <% if(locals.forgot){ %>
              <div class="form-group"><label class="form-control-label" for="username">Secret Question:</label>
                <input class="form-control" id="secretQues" type="text" name="secretQues"
                    autocomplete="off" required style="text-transform: capitalize" value= "<%= question %>" <%=locals.disabled%>></div>
                    <div class="form-group"><label class="form-control-label" for="username"> Answer: </label>
                      <input class="form-control" id="secretAns" type="text" name="secretAns"
                          autocomplete="off" value="" required style="text-transform: capitalize"></div>
                          <% } %>
                          <button class="m-1 btn btn-primary" type="submit">Submit</button><a
                  class="m-1 btn btn-secondary" href="/recover" role="button">Reset</a>
          </form>
      </div>
      </div>
      <% } %>
  </div>
<% include footer.ejs %>
</body>
</html>